body {
    align-items: center;
    background-color: #E40615;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

div {
    display: flex;
}

.draw {
    background-color: black;
}

.sketchCell {
    aspect-ratio: 1 / 1;
    flex: auto;
}

#sketchBody {
    background-color: #E3E3E3;
    align-items: safe stretch;;
    justify-content: center;
    flex: auto;
    flex-direction: column;
    margin: 0;
    max-height: 90vh;
    max-width: 90vw;
    padding: 0;
}

.sketchRow {
    align-items: safe stretch;
    flex: auto;
    flex-direction: row;
    justify-content: center;
}